<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include("../partials/_navbar.ejs") %>
        <h1>Ingredients</h1>
        <% if (ingredients.length> 0) { %>
            <ul>
                <% ingredients.forEach(ingredient=> { %>
                    <li>
                        <a href="/ingredients/<%= ingredient._id %>">
                            <%= ingredient.name %>
                        </a>
                    </li>
                    <% }) %>
            </ul>
            <% } else { %>
                <p>No ingredients available.</p>
                <% } %>
                    <a href="/ingredients/new">Add a New Ingredient</a>
                    <a href="/recipes">Back to Recipes</a>
</body>

</html>